EfesBetSol/EfesBet.UI/Service References/EfesBetServiceReference/EfesBetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1454/EfesBetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EfesBet.DataContract" />
  <xs:element name="GetMatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EfesBet.DataContract" minOccurs="0" name="GetMatchResult" nillable="true" type="q1:ArrayOfGetMatchDetailsDC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>