EfesBetSolWorking/EfesBet.UI/Service References/EfesBetServiceReference/EfesBetService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EfesBet.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EfesBet.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetMatchDetailsDC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetMatchDetailsDC" nillable="true" type="tns:GetMatchDetailsDC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetMatchDetailsDC" nillable="true" type="tns:ArrayOfGetMatchDetailsDC" />
  <xs:complexType name="GetMatchDetailsDC">
    <xs:sequence>
      <xs:element minOccurs="0" name="LeagueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MatchNo" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetMatchDetailsDC" nillable="true" type="tns:GetMatchDetailsDC" />
</xs:schema>